# include   <windows.h>
# include   <resource.h>

# define ICO_MAIN           0x1000	//图标

ICO_MAIN        ICON        "calendarBlack.ico"
//图标ID			ICON[DISCARDABLE]		图标文件名
//光标ID			CURSOR[DISCARDABLE]		光标文件名